* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Roboto", sans-serif;
}

section {
  padding: 2rem 0;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  flex-wrap: wrap;
}

nav .logo-section {
  display: flex;
  align-items: center;
}

nav .search-block {
  margin-left: 1.4rem;
  border-radius: 4px;
  border: 1px solid #d9dde7;
  padding: 0.5rem 0.8rem;
  display: flex;
  align-items: center;
}

.search-block input {
  border: 0;
  min-width: 190px;
}

.search-block input:focus {
  outline: none;
}

nav ul {
  display: none;
  width: 100%;
  background-color: whitesmoke;
  text-align: center;
  margin-top: 1rem;
  list-style: none;
  padding: 1rem;
}

nav ul.show {
  display: block;
}

nav ul li {
  padding-bottom: 1rem;
}

nav ul li:last-child {
  padding-bottom: 0;
}

nav ul li a {
  color: #596172;
  text-decoration: none;
}

/* Hero Section */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(../img/mobile-img.png);
  min-height: calc(100vh - 70px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

.hero .text_block {
  width: 90%;
  margin: 0 auto;
}

.text_block .house_emoji {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.text_block h1 {
  color: #fff;
  line-height: 1.3;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.image-block {
  display: none;
}

.search-block.hero-search-block {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 70%;
  display: flex;
  align-items: center;
}

.search-block.hero-search-block input {
  width: 95%;
  background-color: transparent;
  padding: 0.5rem 0.7rem;
  color: #fff;
}

.hero ::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.hero-btn-block {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.hero-btn-block .btn {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: #fff;
  border: none;
  outline: none;
}

.hero-btn-block .btn-success {
  background-color: #25df8f;
}

.hero-btn-block .btn-secondary {
  background-color: #c1c8d7;
}

/* Apartment Section */

.apartments {
  background-color: #f6f6f7;
}

.apartments .section-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.apartments .section-heading h2 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #2b313d;
}

.apartments .section-heading h2 span {
  color: #949fb7;
}

.apartments .section-heading a {
  font-size: 1rem;
  text-decoration: none;
  color: #596172;
}

.apartments .apartment_list-wrapper {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.apartment_list-wrapper .apartment_card img {
  width: 100%;
}

.apartment_list-wrapper .apartment_card .apartment_meta {
  padding-top: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apartment_card .apartment_meta span {
  color: #596172;
  font-size: 0.8rem;
}

.apartment_card .apartment_title {
  margin-top: 1rem;
}

.apartment_card .apartment_title a {
  text-decoration: none;
  color: #2b313d;
  line-height: 1.6;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-section .footer-logo p {
  color: #596172;
  margin-bottom: 1rem;
}

.footer-logo {
  text-align: center;
  width: 80%;
}
.footer-logo img {
  margin-bottom: 1rem;
}

.links h2 {
  color: #2b313d;
  margin-bottom: 0.5rem;
}

.links ul {
  list-style-type: none;
  text-align: center;
}
.links ul li {
  padding-bottom: 0.5rem;
}
.links ul li a {
  text-decoration: none;
  color: #596172;
}

.social ul {
  display: flex;
  gap: 0.5rem;
}

.social ul li a {
  font-size: 1.2rem;
}

.social ul li a:hover {
  color: #25df8f;
}

footer {
  padding: 1rem 0;
  text-align: center;
  border-top: 1px solid #c1c8d7;
  color: #949fb7;
}
/* Media Queries */

@media screen and (min-width: 800px) {
  nav {
    flex-wrap: nowrap;
  }
  nav .humburger {
    display: none;
  }
  nav .nav-list {
    width: auto;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    background: transparent;
  }

  .nav-list li {
    padding-bottom: 0;
    margin-left: 1.8rem;
  }

  .text_block h1 {
    width: 70%;
  }

  .text_block input {
    width: 50%;
  }

  .footer-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
  }
  .footer-logo {
    text-align: start;
    width: 40%;
  }
  .links ul {
    text-align: start;
  }
}

@media screen and (min-width: 992px) {
  .hero {
    background: #fff;
    min-height: auto;
  }

  .hero .image-block {
    display: block;
    width: 55%;
    margin-left: 4rem;
  }

  .image-block img {
    width: 100%;
    height: 100%;
  }

  .hero .text_block {
    margin-left: 5%;
    width: 45%;
  }

  .text_block h1 {
    width: 100%;
    color: #2b313d;
    font-weight: 400;
  }

  .search-block.hero-search-block {
    border-color: #949fb7;
    width: 90%;
  }

  .search-block.hero-search-block input {
    color: #2b313d;
  }
  .hero-search-block input::placeholder {
    color: #949fb7;
  }

  .apartments .apartment_list-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1192px) {
  html {
    font-size: 18px;
  }

  .apartments .apartment_list-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
